@media screen and (max-width: 1024px)
 {
  font-size: 1em;
  {
        width: auto;
    height: auto;
  }
  /* responsive */
}

body {
  background-color: #AFD1EF;
  /*fond d'écran */
}

h1,title,th{
  text-align: center;
  /* alignement des texte */
}

div{
  display: inline-table;
}

.table-1{
  float: right;
}

.table-2{
  float: left;
}

.color{
  color: green;
}
